{% extends "layout.html" %}

{% block heading %}

<H1>This is first page</H1>
{% endblock %}

{% block body %}
<p>
<h2>Form for Hello</h2>
<form method="post" action="{{ url_for('hello') }}">
    <input type="text" name="name" placeholder="Enter your Name..." />
    <button>Submit</button>
</form>
</p>

<a href="{{ url_for('next_url') }}">Next Page.</a>

{% endblock %}