<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{% block heading %}{% endblock %}</h1>
<div id="main">
    {% block body %}{% endblock %}
</div>
</body>
</html>