{% extends "layout.html" %}

{% block heading %}

<H1>This is first page</H1>
{% endblock %}

{% block body %}
<p>
    This is a pafe to lorem ipsum. Lorem ipseum.
    {% for u in range(50) %}
        {{ u }}
    {% endfor %}
</p>

<a href="{{ url_for('index') }}">Next Page.</a>

{% endblock %}